@font-face {
  font-family: "Hack";
  src: url(/css/assets/fonts/Hack/HackNerdFontMono-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}


@media only screen and (max-width: 600px) {
  body {
    font-size: 13px;
  }
}

/* Global CSS */
body {
  margin: 0;
  font-family: Hack;

  /* THEME */
  --green: #25be6a;
  --blue: #78a9ff;
  --cyan: #08bdba;
  --magenta: #be95ff;

  /* NEUTRALS */
  --white: #f2f4f8;
  --lightest-gray: #dfdfe0; 
  --light-gray: #9a9998;        /* secondary text */
  --gray: #5c5c5c;
  --dark-gray: #282828;
  --blackish: #101411;       /* page base / footer background */
  --black: #000000;    /* main background */

  background-color: var(--blackish);
  color: var(--white)
}

header {
  margin: 0;
}

nav {
  background-color: var(--black);
  margin: 0;
}

h4 {
  color: var(--green);
  margin: 0;
  cursor: pointer;
}
h3 {
  margin: 0;
  padding-left: 10px;
  padding-top: 10px;
}
a {
  text-decoration: none;
  color: var(--green);
}
small {
  color: var(--gray);
}

/* NAV BAR */
nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: var(--green);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: var(--blackish);
}

footer {
  text-align: center;
  color: var(--gray);
  font-size: small;
}

/* Global Classes */
.grid-container {
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: auto auto auto auto;
  /* border: 1px solid red; */
  justify-content: center;
  /* gap: 10px; */
}
.sidebar {
  position: sticky;
  top: 0;
  align-self: start;
  height: fit-content;
}
.mc-grid-container {
  display: grid;
  grid-template-columns: 25% auto;
}
.home-top-container {
  display: flex;
  flex-direction: row;
}
.home-bot-container {
  width: auto;
}
.textbox {
  border: 1px solid var(--light-gray);
  color: var(--lightest-gray);
  margin: 8px;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.textbox img {
  object-fit: cover;
  width: 100%;
}
.toggle-div {
  all: unset;
}

.world-panel {
  display: none;
}
.world-button {
    font-size: 16px;
    background: none;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    text-align: left;
    width: 100%;
    color: var(--green)
}
.world-button:hover {
  background-color: var(--black);
}


/* Local ID's */
#home-sidebar {
  display: flex;
  flex-direction: column;
  text-align: center;
  grid-row: 1 / span 4;
  grid-column: 1 / span 1;
}
#home-sidebar div {
  margin: 5px;
}
#mc-sidebar {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* grid-row: 1 / span 5; */
  grid-column: 1 / span 1;
}
#mc-flex-container {
  display: flex;
  flex-direction: column;
  grid-column: 2 / span 1;
  grid-row: 1 / span 5;
}
#contact-ext {
  display: none;
}
#pfp {
  width: 80%;
  border-radius: 50%;
}
#video {
  margin: auto;
  /* border: 1px solid var(--light-gray);
  border-radius: 8px; */
  /* width: fit-content; */
  display: flex;
}


#linux-ext{
  display: none;
}
#aboutme-ext {
  display: none;
}
#world-1 {
  display: none;
}
#world-2 {
  display: none;
}
#world-3 {
  display: none;
}
#world-4 {
  display: none;
}
#world-5 {
  display: block;
}
#weight {
  display: block;
}
#political-structure {
  display: none;
}
#engagement-project{
  display: none;
}
#taoism {
  display: none;
}
